# 这是Git的忽略文件

### Keil C51
# 忽略Listing下所有文件
/Listing/*

# 忽略Output下所有文件
/Output/*

# 忽略Project目录下除*.uvopt和*.uvproj格式的其他文件
/Project/*
!/Project/*.uvopt
!/Project/*.uvproj

### Proteus
# 忽略Circuit目录下除了匹配*.dsn、*.pdsprj和*.md格式的其他文件
Circuit/Proteus7/*
!/Circuit/Proteus7/*.dsn
!/Circuit/Proteus7/*.md
Circuit/Proteus8/*
!/Circuit/Proteus8/*.pdsprj
!/Circuit/Proteus8/*.md
